<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gaming Arena</title>
    <!-- Link to Font Awesome CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div
          id="profile-button"
          class="fas fa-user"
          onclick="toggleDropdown()"
        ></div>
        <% if (showDropdown) { %>
        <div id="account-options" class="dropdown">
          <div class="user-profile">
            <span>Welcome, <%= user.name %></span>
          </div>
          <ul>
            <a href="/userprofile">Profile</a>
            <a href="#">Orders</a>
            <button id="logoutButton">Logout</button>
          </ul>
        </div>
        <% } else { %>
        <div id="account-options" class="dropdown">
          <div class="user-profile">
            <span>Welcome Gamer</span>
          </div>
          <ul>
            <a href="/login-signup.html?a=0">Go to Login</a>
            <a href="/login-signup.html?a=1">Go to Signup</a>
          </ul>
        </div>
        <% } %>
        <h1>Welcome to the Gaming Arena</h1>
        <div class="announcement-content">
          <h2 class="blink">Trending Game Live Now!</h2>
        </div>
      </div>
    </header>

    <div class="container carousel-container">
      <div class="carousel-track">
        <% games.forEach(game=> { %>
        <div id="<%= game.id %>" class="game-card">
          <a href="<%= game.link %>">
            <div class="game-img">
              <img src="<%= game.image %>" alt="<%= game.title %>" />
            </div>
            <div class="game-icon">
              <% if (game.iconImage) { %>
              <img
                src="<%= game.iconImage %>"
                alt="<%= game.title %> Icon"
                id="yo"
              />
              <% } else { %>
              <i class="<%= game.icon %>"></i>
              <% } %>
            </div>
            <div class="game-title"><%= game.title %></div>
          </a>
        </div>
        <% }); %>
        <div id="coming-soon" class="game-card coming-soon">
          <div class="game-img">
            <img src="5241629.jpg" alt="Coming Soon" />
          </div>
          <div class="game-icon"><i class="fas fa-hourglass-half"></i></div>
          <div class="game-title">More Games Coming Soon!</div>
        </div>
      </div>
      <div class="carousel-controls">
        <button class="carousel-button" id="prevBtn">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button class="carousel-button" id="nextBtn">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>

    <section class="announcement coming-soon">
      <div class="announcement-content">
        <h2 class="blink">Coming Soon!</h2>
        <p>Exciting new games arriving soon.</p>
      </div>
    </section>
    <br />
    <br />
    <h2 class="exp">Experience the Action Live with Your Friends!</h2>
    <div class="game-icon"><i class="fas fa-gamepad"></i></div>
    <footer class="footer">
      <div class="container">
        <p>&copy; 2024 Gaming Arena. All rights reserved.</p>
        <ul class="social-icons">
          <li>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </footer>

    <script>
      const track = document.querySelector(".carousel-track");
      const prevButton = document.getElementById("prevBtn");
      const nextButton = document.getElementById("nextBtn");

      const cardCount = track.children.length;
      const cardWidth = track.children[0].offsetWidth + 20; // Width of game card + margin
      let currentIndex = 1;

      function updateTrackPosition() {
        track.style.transform = `translateX(-${currentIndex * cardWidth}px)`;
      }

      nextButton.addEventListener("click", () => {
        currentIndex = (currentIndex + 1) % cardCount;
        updateTrackPosition();
      });

      prevButton.addEventListener("click", () => {
        currentIndex = (currentIndex - 1 + cardCount) % cardCount;
        updateTrackPosition();
      });

      // Clone the first and last cards to create an infinite loop effect
      const firstCardClone = track.children[0].cloneNode(true);
      const lastCardClone = track.children[cardCount - 1].cloneNode(true);
      track.appendChild(firstCardClone);
      track.insertBefore(lastCardClone, track.children[0]);

      function toggleDropdown() {
        var dropdown = document.getElementById("account-options");
        if (dropdown.style.display === "none") {
          dropdown.style.display = "block";
        } else {
          dropdown.style.display = "none";
        }
      }
      window.onclick = function (event) {
        if (!event.target.matches("#profile-button")) {
          var dropdown = document.getElementById("account-options");
          if (dropdown.style.display === "block") {
            dropdown.style.display = "none";
          }
        }
      };
      updateTrackPosition();

      document
        .getElementById("logoutButton")
        .addEventListener("click", function () {
          fetch("./auth/logout", {
            method: "POST",
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                window.location.href = ".index.ejs";
              }
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
    </script>
  </body>
</html>
